openapi: 3.2.0
info:
  title: Master freshness Freshness Report API
  version: '1.0'
servers:
- url: https://hq1.appsflyer.com/api/master-agg-data/
  description: Production server
security:
- Bearer-Authentication: []
tags:
- name: Freshness Report
paths:
  /lastupdate:
    get:
      tags:
      - Freshness Report
      summary: Get last update
      operationId: master-lastupdate
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Account may be suspended. Log in to the dashboard and check the account status.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            InvalidToken:
              summary: Invalid authorization token
              value:
                message: The supplied API token is invalid
    Success:
      description: Request successful.
      content:
        text/plain:
          schema:
            type: string
            example: '2023-08-13'
  schemas:
    Error:
      type: string
  securitySchemes:
    Bearer-Authentication:
      type: http
      scheme: bearer
      description: "Authorization HTTP header containing API V2 token (bearer token) is required.\n\n The admin [gets the V2 token in the dashboard](https://support.appsflyer.com/hc/en-us/articles/360004562377)"
x-readme:
  explorer-enabled: true
  proxy-enabled: true
