openapi: 3.2.0
info:
  title: User management Managing roles API
  version: 1.0.0
servers:
- url: https://hq1.appsflyer.com/api/user-management/v1.0
security:
- bearerAuth: []
tags:
- name: Managing roles
paths:
  /roles:
    get:
      summary: Get roles
      description: '> ⚠️ Important

        >

        > All API V2 tokens generated before March 10, 2026, 19:00 UTC have been revoked. If your token was generated before this date, please regenerate it. [Learn how](https://support.appsflyer.com/hc/en-us/articles/360004562377-Managing-AppsFlyer-tokens).


        Retrieve roles data for account with list of users for each role

        '
      tags:
      - Managing roles
      responses:
        '200':
          description: Successful response containing the list of roles with capabilities and users for each role
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The display name of the role
                        type:
                          type: string
                          enum:
                          - predefined
                          - custom
                          description: Describes whether the role is custom or pre-defined
                        capabilities:
                          type: array
                          items:
                            type: object
                            properties:
                              section:
                                type: string
                                description: The name of a section of capabilities
                              capabilities:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      description: The name of the capability
                                    access_level:
                                      type: string
                                      enum:
                                      - blocked
                                      - read
                                      - all
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              email:
                                type: string
                                description: The email of a user that has this role
                              name:
                                type: string
                                description: The name of a user that has this role
        '400':
          description: Bad request - exceeded limit
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message for a bad request
        '401':
          description: Unauthorized - Missing or insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message for unauthorized access
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "**Important: API V2 Token Revocation**\n\nAll API V2 tokens generated before March 10, 2026, 19:00 UTC have been revoked. If your token was generated before this date, please regenerate it. [Learn how](https://support.appsflyer.com/hc/en-us/articles/360004562377-Managing-AppsFlyer-tokens).\n\nAuthorization HTTP header containing API V2 token (bearer token) is required.\n\n The admin [gets the V2 token in the dashboard](https://support.appsflyer.com/hc/en-us/articles/360004562377)"
