{
 "openapi": "3.0.1",
 "info": {
  "title": "Audit Public API",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://hq1.appsflyer.com/api/audit/v1.0/",
   "description": "Production server"
  }
 ],
 "security": [
  {
   "Bearer-Authentication": []
  }
 ],
 "paths": {
  "/logs": {
   "get": {
    "tags": [
     "Audit logs"
    ],
    "summary": "Get audit logs",
    "operationId": "audit-public-api-get",
    "parameters": [
     {
      "name": "limit",
      "in": "query",
      "description": "number of results on the page\n",
      "required": true,
      "schema": {
       "type": "integer",
       "maximum": 1000
      }
     },
     {
      "name": "offset",
      "in": "query",
      "description": "The offset to start reading from\n",
      "required": true,
      "schema": {
       "type": "integer",
       "maximum": 100000
      }
     },
     {
      "name": "services",
      "in": "query",
      "description": "List of all services to read logs. Case insensitive.\n",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "from_date",
      "in": "query",
      "description": "Show logs starting from this date. If not set, use the current date. \nIf `to_date` was set, this field must have a valid value.\nExpects `YYYY-MM-DD` format\nrequired: false\n",
      "schema": {
       "type": "string",
       "pattern": "^\\d{4}\\-\\d{2}\\-\\d{2}$"
      }
     },
     {
      "name": "to_date",
      "in": "query",
      "description": "Show logs end date. If not set, use the current date. if `from_date` was set, this field must have a valid value.\nExpects `YYYY-MM-DD` format\"\n",
      "example": "2023-11-06",
      "required": true,
      "schema": {
       "type": "string",
       "pattern": "^\\d{4}\\-\\d{2}\\-\\d{2}$"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Valid data returned (CSV)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AuditLogsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad request - Missing or invalid query parameters",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/StandardApiError"
        },
        "examples": {
         "OffsetParameterNotDefined": {
          "value": {
           "error": "offset parameter is required"
          }
         },
         "InvalidOffsetValue": {
          "value": {
           "error": "invalid value in offset parameter"
          }
         },
         "OffsetExceedMaxValue": {
          "value": {
           "error": "offset parameter exceed the maximum value"
          }
         },
         "LimitParameterNotDefined": {
          "value": {
           "error": "limit parameter is required"
          }
         },
         "InvalidLimitValue": {
          "value": {
           "error": "invalid value in limit parameter"
          }
         },
         "LimitExceedMaxValue": {
          "value": {
           "error": "limit parameter exceed the maximum value"
          }
         },
         "ToDateDefinedButFromDateNotDefined": {
          "value": {
           "error": "from_date is required since to_date was defined"
          }
         },
         "FromDateDefinedButToDateNotDefined": {
          "value": {
           "error": "to_date is required since from_date was defined"
          }
         },
         "FromDateIsInvalid": {
          "value": {
           "error": "from_date is invalid"
          }
         },
         "ToDateIsInvalid": {
          "value": {
           "error": "to_date is invalid"
          }
         },
         "ToDateEarlierThanFromDate": {
          "value": {
           "error": "The to_date must be equal to or later than the from_date"
          }
         },
         "DateRangeOutOfBound": {
          "value": {
           "error": "from_date or to_date exceeds the maximum allowed range of 180 days from today"
          }
         },
         "UnknownServiceNames": {
          "value": {
           "error": "unknown service names: (concatenated names)"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Account has no permissions (account is not premium)",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/StandardApiError"
        },
        "examples": {
         "NoAccountPermissions": {
          "value": {
           "error": "Access Denied: Account does not have required permissions to access this page"
          }
         }
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "securitySchemes": {
   "Bearer-Authentication": {
    "type": "http",
    "scheme": "bearer",
    "description": "Authorization HTTP header containing API V2.0 token (Bearer token) is required.\nThe admin [gets the V2 token in the dashboard](https://support.appsflyer.com/hc/en-us/articles/360004562377), go to your email address\n"
   }
  },
  "schemas": {
   "StandardApiError": {
    "type": "object",
    "properties": {
     "error": {
      "type": "string"
     }
    }
   },
   "AuditLogsResponse": {
    "type": "object",
    "properties": {
     "pagination_metadata": {
      "type": "object",
      "properties": {
       "total_pages": {
        "type": "integer",
        "description": "Total number of pages available.",
        "example": 4
       },
       "total_results": {
        "type": "integer",
        "description": "Total number of results available.",
        "example": 8
       },
       "current_page": {
        "type": "integer",
        "description": "The current page number.",
        "example": 1
       }
      },
      "required": [
       "total_pages",
       "total_results",
       "current_page"
      ]
     },
     "pagination_links": {
      "type": "object",
      "properties": {
       "next": {
        "type": "string",
        "format": "uri",
        "description": "URL to the next page.",
        "example": "http://.../audit/public/api/v1.0/logs?offset=101&limit=100&..."
       },
       "last": {
        "type": "string",
        "format": "uri",
        "description": "URL to the last page.",
        "example": "http://.../audit/public/api/v1.0/logs?offset=201&limit=100&..."
       }
      }
     },
     "logs": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "date_time": {
         "type": "string",
         "format": "date-time",
         "description": "The date and time of the log entry.",
         "example": "2024-09-26 01:25:32"
        },
        "entity_type": {
         "type": "string",
         "description": "The type of entity involved in the log.",
         "example": "Account"
        },
        "user": {
         "type": "string",
         "description": "The user associated with the log.",
         "example": "abc@def.com"
        },
        "service": {
         "type": "string",
         "description": "The service or system where the action occurred.",
         "example": "System access"
        },
        "action": {
         "type": "string",
         "description": "The action performed in the log.",
         "example": "Login"
        },
        "details": {
         "type": "string",
         "description": "Additional details about the log entry.",
         "example": "this is the details message.."
        }
       },
       "required": [
        "date_time",
        "entity_type",
        "user",
        "service",
        "action",
        "details"
       ]
      }
     }
    },
    "required": [
     "pagination_metadata",
     "pagination_links",
     "logs"
    ]
   }
  }
 },
 "x-readme": {
  "explorer-enabled": true,
  "proxy-enabled": true
 }
}